node_modules
dist
build
coverage
tmp
temp
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.git
.gitignore
.vscode
.idea
.husky
.lintstagedrc*
.eslintrc*
.prettierrc*
yarn.lock
package-lock.json
.DS_Store
.env
.env.*
public/tmp
public/uploads
private
sqlite
*.sqlite
*.sqlite-journal

